{% extends "static/static_files/html/ase_wrap.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Запрос документа</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/buttons.css'%}" type="text/css">
</head>
<body>
    <div>
    <form method="POST" autocomplete="off">
        {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" value="Отправить запрос" class="btnmain">
  </form>
</div>
</body>
</html>
{% endblock %}
