{% extends "static/static_files/html/ase_wrap.html" %}
{% load staticfiles %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/buttons.css'%}" type="text/css">
<link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $(".request").click(function () {
      var id = $(this).attr('id');
      var iframeid = $("iframe").attr("id");
      $("iframe").remove();
      $(".request").each(function (e) {
        if (!(id == iframeid)) {
          $(this).removeClass("clicked")
        }
      });
      if ($(this).hasClass('clicked')) {
        $(this).removeClass("clicked")
      } else {
        $(this).addClass("clicked")
      }
      if (!(id == iframeid)) {
        $(".container").find(".right").append($('<iframe />', { src: "/request/" + id, class: "wh100", id: id }));
      }
    })
  })
</script>
{% endblock %}
{% block content %}

<body>
  <table class=container>
    <tr>
      <td class=left style="width: 25%;">
        {% if object_list|length %}
        <table>
          <tr>
            <!-- <th>ID</th> -->
            <th>№ запроса</th>
            <th>Наименование</th>
            <th>Дата подачи</th>
            <th>Статус</th>
          </tr>
          {% endif %}
          {%for post in object_list%}
          <tr class='request' id="{{post.id}}" style="cursor: pointer">
            <td>{{post.id}}</td>
            <td>{{post.get_application_type_display}}</td>
            <td>{{post.delivery_date|date:"d-m-Y"}}</td>
            <td>{{post.status}}</td>
          </tr>
          {% empty %}
          Нет созданных отчетов.
          {%endfor%}
        </table>
      </td>
      <td class=right style="width: 74%;">
      </td>
    </tr>
  </table>
</body>
{% endblock %}