{% extends "static/html/ase_wrap.html" %}

{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/buttons.css'%}" type="text/css">
<link rel="stylesheet" href="{% static 'css/form-style.css'%}" type="text/css">
<link rel="stylesheet" href="{% static 'css/modal.css' %}" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script type="text/javascript">
  function check_comment() {
    $("#disapprove_comment").addClass("red_background")
  };
  function map_init(map) {
    var pointList = [];
    {% for coord in coord_list %}
    pointList.push(new L.LatLng({{ coord.0}}, {{ coord.1 }}));
  {% endfor %}
  var polyline = new L.polyline(pointList, {
    color: "blue",
    weight: 3,
    opacity: 0.5,
    smoothFactor: 1
  });
  map.setView(pointList[0], 12);
  polyline.addTo(map)
  }
  $(document).ready(function () {
    $(".request____delete_me____").click(function (e) {
      var mapdiv = $('td.right')
      if (mapdiv.is(':visible')) {
        mapdiv.hide();
      } else {
        mapdiv.show();
      }
      $.ajax({
        type: 'POST',
        url: '/geo/get',
        contentType: "application/json;",
        dataType: "json",
        data: "{\n \"id_gps\": " + $(this).attr("id") + '}',
        success: function (json) {
          map_init(map = mapdiv.find($('main')), lat = json[0].fields.latitude, lon = json[0].fields.longitude)
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {

        }
      })
    })
  });

</script>
<style>
  .leaflet-container {
    width: 100%;
    height: 80vh;
    z-index: 0;
    }

</style>
{% endblock %}
{% block content %}
{% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}

<body onload="check_comment()">
<table class="container">
    <tr>
        <td style="width: 30%;">
            <table>
                {% for line in application %}
                <tr id="{{line.2}}">
                    <th>{{line.0}}</th>
                    <td>{{line.1}}</td>
                </tr>
                {% endfor %}
            </table>
        </td>
        <td>
            <div class="leaflet-container">
                {% leaflet_map "main" callback="map_init" %}
            </div>

        </td>
    </tr>
</table>
{% if modal == True %}
<div id="CarModal" class="modal" style="display: block;">
    <div class="modal-content">
        <span class="close" id="no_cars_modal">&times;</span>
        <p>Доступных машин сейчас нет</p>
    </div>
</div>
{% endif %}
<div id="DisModal" class="modal">
    <div class="modal-content">
        <span id='disapprove_modal' class="close">&times;</span>
        <p>Укажите причину, по которой вы отклоняете запрос.</p>
        <form method="POST">
            {% csrf_token %}
            <textarea rows="10" cols="50" name="comment"></textarea>
            <input type="submit" class="btnno" style="display: block;" value="Отклонить запрос">
        </form>
    </div>
</div>
{% if 'approve' in buttons %}
<a href="/request/{{app.id}}/approve" class="btnyes left">Подтвердить запрос</a>
{% endif %}
{% if 'disapprove' in buttons %}
<div class="btnno left" id='disapprove'>Отклонить запрос</div>
{% endif %}
{% if 'complete' in buttons %}
<a href="/request/{{app.id}}/approve" class="btnyes left">Запрос выполнен корректно</a>
{% endif %}
{% if 'mistake' in buttons %}
<div class="btnno left" id='disapprove'>Запрос выполнен некорректно</div>
{% endif %}
{% if 'take_to_work' in buttons %}
<a href="/request/{{app.id}}/approve" class="btnyes left">Взять в работу</a>
{% endif %}
<a href="print" class="btnreg left">Сохранить WORD</a>
<script>
    var btn = document.getElementById("disapprove");
    var span = document.getElementById("disapprove_modal");
    var modal = document.getElementById("DisModal");
    btn.onclick = function () {
      modal = document.getElementById("DisModal");
      modal.style.display = "block";
    }
    span.onclick = function () {
      modal.style.display = "none";
    }
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

</script>
<script>
    var modal = document.getElementById("CarModal");
    var span = document.getElementById("no_cars_modal");
    span.onclick = function () {
      modal.style.display = "none";
    }
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

</script>
</body>
{% endblock %}