{% extends "static/static_files/html/ase_wrap.html" %}
{% load staticfiles %}
{% block header %}
  <link rel="stylesheet" href="{% static 'css/buttons.css'%}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    $(".request").click(function(e){
      var map = $('.leaflet-container')
      if (map.is(':visible')){
        $('.leaflet-container').hide();
      } else {
        $('.leaflet-container').show();
      }
      // var obj = jQuery.parseJSON( '[\
      //     {\
      //     "model": "data.gpsdata",\
      //     "pk": 2,\
      //     "fields": {\
      //     "date": "2019-09-07T14:13:16.572Z",\
      //     "latitude": "55.063662",\
      //     "longitude": "36.553976",\
      //     "id_gps": 2\
      //     }\
      //     },\
      //     {\
      //     "model": "data.gpsdata",\
      //     "pk": 3,\
      //     "fields": {\
      //     "date": "2019-09-07T14:34:56.570Z",\
      //     "latitude": "73",\
      //     "longitude": "34",\
      //     "id_gps": 2\
      //     }\
      //     }\
      //     ]' );
      // alert( obj[0].fields.latitude );
      $.ajax({
        type: 'POST',
        url:'/geo/get',
        contentType: "application/json;",
        dataType: "json",
        data: "{\n \"id_gps\": "+$(this).attr("id"),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        success:function(){
            var json = jQuery.parseJSON(xhr.responseText);
            map_init(lat = obj[0].fields.latitude, lon = obj[0].fields.longitude)
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) { 
            
        } 
    })
    })
  });
  function map_init(map, options, lon, lat) {
        // get point lat and lon
        // var lon = {{ y }};
        // var lat = {{ x }};
        // var lon = 55.809120;
        // var lat = 37.581740;
        // zoom to point & add it to map
        map.setView([lat, lon], 12);
        L.marker([lat, lon]).addTo(map);
    }
  </script>
  <style>
      .leaflet-container {  /* all maps */
          width:  100%;
          height: 100%;
          z-index: 0;
          display: none;
      }
  </style>
{% endblock %}
{% block content %}
{% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}
<body>
{% if object_list|length %}
<table>
  <tr>
    <th>ID</th>
    <th>Тип</th>
    <th>Наименование</th>
    <th>Дата подачи</th>
    <th>Статус</th>
  </tr>
  {% endif %}
  {%for post in object_list%}
  <tr class='request' id ="{{forloop.counter0}}" style="cursor: pointer">
    <td><a href ="/request/{{post.id}}">{{post.id}}</a></td>
    <td>{{post.req_type}}</td>
    <td>Что тут должно быть?</td>
    <td>{{post.date|date:"d-m-Y"}}</td>
    <td>{{post.status}}</td>
  </tr>
  {% empty %}
        Нет созданных отчетов.
  {%endfor%}
</table>
<div class=".leaflet-container">
    <p>{{x}} {{y}}</p>
    {% leaflet_map "main" callback="map_init" %}
</div>
</body>
{% endblock %}
