tbody tr th{
    text-align: left;
}
body .content{
    overflow: hidden;
    text-align: center;
}
form{
    display: inline-block;
}
td{
    width: 15em;
    border: 0.1em solid #FFFFFF;
    border-bottom: 0.1em solid rgb(0, 0, 0);
}
select{
    width: 100%;
    outline: none;
    border: none;
}
tbody input{
    width: 100%;
}

input{
    border: none;
}
input:active{
    width: 100%;
    border: none;
}
table{
    align-self: center;
    margin-top: 1rem;
}

.btnmain{
    margin:0;
}

.red_background {
    background-color: rgba(255, 119, 119, 0.5);
}