body{
  margin: 0;
  background: "white";
}
body .content{
  align-content: center;
  overflow: hidden;
}
.navbar {
  overflow: hidden;
  background-color: rgb(0, 64, 112);
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 1em 1.5em;
  text-decoration: none;
}
.navbar a.right {
  float: right;
}
.navbar a.active {
  background-color: #666;
  color: white;
}

.navbar a:hover {
  background-color: rgb(0, 95, 168);
}
.navbar .dropdown:hover{
  background-color: rgb(0, 95, 168);
}

.dropdown {
  display: inline-block;
}

.dropbtn {
  background-color: rgb(0, 64, 112);
  display: block;
  color: white;
  padding: 1em;
  font-size: 1em;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: rgb(0, 64, 112);
  width: 0;
  height: 0;
  visibility: hidden;
  transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;
}

.dropdown-content a {
  color: white;
  padding: .8em 1em;
  text-decoration: none;
  display: inline;
}
.navbar:hover .dropdown:hover{
  padding-top: 0;
}

.dropdown:hover .dropdown-content {
  display: inline-flex;
  width: 100%;
  height: 100%;
  visibility: visible;
  transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;

}

.dropdown-content a:hover {
  background-color: rgb(0, 95, 168);
}

.dropdown:hover .dropbtn {
  background-color: rgb(0, 95, 168);
}

table.container {
  width: 100%;
  height: 100%;
}
.container .left {
  display: inline-block;
  vertical-align: bottom;
  height: 75vh;
  overflow-y: auto;
}
.container .right {
  display: inline-block;
  vertical-align: bottom;
  height: 75vh;
}

.noHover{
  pointer-events: none;
}

iframe{
  border: 0;
}

.wh100{
  width: 100%;
  height: 100%;
}

tr.clicked{
  background-color: rgba(0, 100, 172, 0.384);
}

@media screen and (max-width: 35em) {
  .navbar a {
    padding: 0.5em;
    float: none;
    width: 100%;
  }
  .navbar:hover .dropdown:hover{
    padding-top: 0;
    padding-bottom: 0em;
    padding-left: 0em;
    padding-right: 0em;
  }
  .navbar a.right {
    float: none;
  }
  .dropdown{
    float: none;
    text-align:center;
    width: 100%;
    transition: bottom 0.1s ease-in-out 0.1s;
  }
  .dropbtn{
    float: none;
    display:inline-block;
    padding: 0.5em; 
    text-align: center;
    transition: bottom 0.1s ease-in-out 0.1s;
  }
  .dropdown-content{
    float: none;
    display: none;
    position: relative;
    transition: padding 0.1s ease-in-out 0.1s;
  }
  .dropdown-content a{
    display: block;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
}