a.cont {
  color: rgb(0,101,172); /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: #fff; /* фон кнопки */
  border: .1em solid rgb(0,101,172);
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  border-radius: .10em;
  position: center;
}
